<td>{{user-info user=item.user}}</td>
<td>{{user-icij-info attribute=item.user.country}}</td>
<td>{{format-duration item.user.last_seen_age}}</td>
<td>{{format-duration item.user.created_at_age}}</td>
